{{#users}}
  <img src="{{avatar}}"  />
  <h3><a href="{{id}}">{{name}}</a></h3>




  {{#job}}<h4>{{job}} | {{company}}</h4>{{/job}}
  {{^job}}<h4>Available for hire</h4>{{/job}}


  <!-- <p>Skills</p>
  <ul>
    {{#skills}}
    <li>
      {{.}}
    </li>
    {{/skills}}
  </ul> -->
{{/users}}
